:root {
    --size-item-px: 21px;
    --border-radius-item-px: 13px;
    --border-item-px: 2px solid rgba(0, 0, 0, 0.8);
    --margin-item-px: 1px 1px 3px 1px;
    --margin-item-spacer: 10px;
}

.gridContainer {
    display: flex;
    flex-direction: row;
}

.gridItem {
    background-color: rgba(255, 255, 255, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    margin: var(--margin-item-px);
    border-radius: var(--border-radius-item-px);
}

.gridItemSpacer {
    background-color: rgba(255, 255, 255, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    border-radius: var(--border-radius-item-px);
    margin: var(--margin-item-px);
    margin-right: var(--margin-item-spacer);
    text-align: center;
}

.gridItemColored {
    background-color: rgba(255, 255, 255, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    border-radius: var(--border-radius-item-px);
    margin: var(--margin-item-px);
    text-align: center;
}

.gridItemColoredSpacer {
    background-color: rgba(255, 255, 255, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    border-radius: var(--border-radius-item-px);
    margin: var(--margin-item-px);
    margin-right: var(--margin-item-spacer);
    text-align: center;
}

.gridItemColoredNote {
    background-color: rgba(125, 69, 145, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    border-radius: var(--border-radius-item-px);
    margin: var(--margin-item-px);
    text-align: center;
}

.gridItemColoredNoteSpacer {
    background-color: rgba(125, 69, 145, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    border-radius: var(--border-radius-item-px);
    margin: var(--margin-item-px);
    margin-right: var(--margin-item-spacer);
    text-align: center;
}

.grid_item_active {
    background-color: rgba(125, 69, 145, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    margin: var(--margin-item-px);
    border-radius: var(--border-radius-item-px);
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-duration: 0.5ms;
    transition-timing-function: ease-out;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.grid_item_active_spacer {
    background-color: rgba(125, 69, 145, 0.8);
    border: var(--border-item-px);
    padding: var(--size-item-px);
    margin: var(--margin-item-px);
    margin-right: var(--margin-item-spacer);
    border-radius: var(--border-radius-item-px);
    transition-property: transform;
    -webkit-transition-property: transform;
    transition-duration: 0.5ms;
    transition-timing-function: ease-out;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.gridItem:hover,
.gridItemSpacer:hover,
.gridItemColored:hover,
.gridItemColoredSpacer:hover,
.gridItemColoredNote:hover,
.gridItemColoredNoteSpacer:hover {
    background-color: rgb(151, 96, 143);
    cursor: pointer;
}

