.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bpm_box {
    color: #dddddd;
    text-align: left;
}

.bpm_value {
    font-size: 33px;
}

:root {
    --margin-dot: 9px 13px 0 14px;
    --margin-dot-spacer: 9px 24px 0 17px;
    --margin-dot-melodic: 0px 20px 12px 23px;
    --color-dot: #AE8BAB;
    --color-dot-active: #55ff00;
    --height-dot: 20px;
    --width-dot: 20px;
    --border-radius-dot: 60px;
    --border-line-dot: 1px solid rgb(0, 0, 0);
    --color-inside-dot: #000000;
    --padding-dot: 1px;
    --font-dot: small-caps bold 14px/1 sans-serif;
}

.timeline_dot {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot);
    border-radius: var(--border-radius-dot);
    border: var(--border-line-dot);
    margin: var(--margin-dot);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

.timeline_dot_spacer {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot-spacer);
    border: var(--border-line-dot);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

.timeline_dot_spacer_active {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot-active);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot-spacer);
    border: var(--border-line-dot);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

.timeline_dot_active {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot-active);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot);
    border: var(--border-line-dot);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

.timeline_dot_melodic_active {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot-active);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot-melodic);
    border: var(--border-line-dot);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

.timeline_dot_melodic {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot);
    border-radius: var(--border-radius-dot);
    border: var(--border-line-dot);
    margin: var(--margin-dot-melodic);
    color: var(--color-inside-dot);
    font: var(--font-dot);
    padding: var(--padding-dot);
}

/*.timeline_dot_start_point {*/
/*    height: var(--height-dot);*/
/*    width: var(--width-dot);*/
/*    border: 1px solid #61dafb;*/
/*    color: #61dafb;*/
/*}*/
.timeline_dot:hover,
.timeline_dot_active:hover,
.timeline_dot_melodic:hover,
.timeline_dot_spacer:hover,
.timeline_dot_spacer_active:hover {
    cursor: pointer;
    color: #61dafb;
    border: 1px solid #61dafb;
}


.App-link {
    color: #61dafb;
}

.button_delete_track {
    color: #e74138;
}

.button_add_track {
    color: #61dafb;;
}
.button_delete_track:hover,
.button_add_track:hover {
    cursor: pointer;
    color: #dddddd;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
