.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bpm_box {
    color: #dddddd;
    text-align: left;
}

.bpm_value {
    font-size: 33px;
}

:root {
    --margin-dot: 11px 15px 0 19px;
    --margin-dot-spacer: 11px 23px 0 19px;
    --color-dot: rgb(125, 69, 145);
    --color-dot-active: #55ff00;
    --height-dot: 14px;
    --width-dot: 14px;
    --border-radius-dot: 60px;
    --border-line-dot: 1px solid rgb(0, 0, 0);
}

.timeline_dot {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot);
    border-radius: var(--border-radius-dot);
    border: var(--border-line-dot);
    margin: var(--margin-dot);
}

.timeline_dot_spacer {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot-spacer);
    border: var(--border-line-dot);
}

.timeline_dot_spacer_active {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot-active);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot-spacer);
    border: var(--border-line-dot);
}


.timeline_dot_active {
    height: var(--height-dot);
    width: var(--width-dot);
    background-color: var(--color-dot-active);
    border-radius: var(--border-radius-dot);
    margin: var(--margin-dot);
    border: var(--border-line-dot);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
