.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bpm_box {
    color: #dddddd;
    text-align: left;
}

.bpm_value {
    font-size: 33px;
}

.timeline_dot_spacer_active{
    height: 8px;
    width: 8px;
    background-color: purple;
    border-radius: 4px;
    margin: 0 18px 0 22px;
}

.timeline_dot_spacer{
    height: 8px;
    width: 8px;
    background-color: purple;
    border-radius: 4px;
    margin: 0 18px 0 22px;
}

.timeline_dot_active{
    height: 8px;
    width: 8px;
    background-color: purple;
    border-radius: 4px;
    margin: 0 18px 0 22px;
}

.timeline_dot{
    height: 8px;
    width: 8px;
    background-color: purple;
    border-radius: 4px;
    margin: 0 18px 0 22px;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
